@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  position: sticky;
  top: 0;
  background-color: #E8DFF5;
  overflow: hidden;
  font-size: 24px;
  width: 100%;
  height: 5rem;
  display: block;
  align-items: center;
}

.navigation button {
  cursor: pointer;
  font-family: 'Mulish';
  font-size: 14px;
  font-style: bold;
  padding: 0.5rem 2rem 0.5rem 2rem;
  float: right;
  margin-right: 2rem;
  background-color: #FCE1E4;
  box-sizing: border-box;
  border: 1px solid #404565;
  border-radius: 5px;
}

.Logo {
  cursor: pointer;
  font-family: 'Hachi Maru Pop';
  font-style: bold;
  float: left;
}

.Typography {
  font-family: 'Hachi Maru Pop';
}